*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android signing
keystore.properties
*.jks
*.keystore

.local

# Nix
/result
/result-*
.direnv
